
body{
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-family: consolas;
}
img{
   align-items: center;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    background-color: aliceblue;
    border-radius: 30px;
    
}
.content .c2s{
background-color: aqua;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .card{
   
    flex: 1 1 150px;
    margin: 5px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card .face.face21{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card .face.face22{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card .face.face23{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card .face.face24{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

h3{
    color: #fff;
}

.container .card:hover .face.face1{
    background: rgb(69, 209, 62);
    transform: translateY(0);
}

.container .card:hover .face.face21{
    background: rgb(69, 209, 62);
    transform: translateY(0);
}

.container .card:hover .face.face22{
    background: rgb(69, 209, 62);
    transform: translateY(0);
}

.container .card:hover .face.face23{
    background: rgb(69, 209, 62);
    transform: translateY(0);
}

.container .card:hover .face.face24{
    background: rgb(44, 188, 70);
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card .face.face21 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card .face.face22 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card .face.face23 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card .face.face24 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card:hover .face.face21 .content{
    opacity: 1;
}

.container .card:hover .face.face22 .content{
    opacity: 1;
}

.container .card:hover .face.face23 .content{
    opacity: 1;
}

.container .card:hover .face.face24 .content{
    opacity: 1;
}



.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}